<header>
    <nav class = "navigation">
        <div class="logo">
            Let-Connect
        </div>
        {% if user.is_authenticated %}
            <span style="color:#FFFFFF;">{{ request.user }}</span>
        
            <div class="searchBox">
                <form  action="" method="post">
                    {% csrf_token %}
                    <input type="text" name ="user-name" placeholder="find new friends...">
                    <button id="" type="submit">Search</button>
                </form>
            </div>
        {% endif %}
        <div class='menu' >
            <span></span>
            <span></span>
        </div>
    </nav>
</header>
