{% extends 'chat/base.html' %}
{% load static %}
{% block title%} Home {% endblock %}
    

{% block content %}
    <div class="container">

        <div class='friend-list'>
            <div class="friends-area">
                {% for friend in friends %}
                
                <div class="friend" id="friend-{{ friend.id }}">
                    <div class="image">
                        <div class="i">
                        
                        </div>
                    </div>

                    <div class="friend-info">
                        <div class="name"> {{ friend.name }} </div>
                        <div class="status"></div>
                    </div>
                </div>
        
                {% endfor %}
            </div>
        
        </div>

        <div class="chat-area">
            <div class="chat">

                <div class="message-area">
             
                </div>

            <div class ="input-area">
                <input id="msg-text-input" type="text"/>
                <button id="send-btn">Send</button>
            </div>

            <audio controls id="msg-ring" hidden>
                <source src="{% static 'chat/audio/msg.mp3' %}" type="audio/mpeg">
            </audio>
        </div>
    </div>

{% endblock  %}    

{%block scripts%}
<script src="{% static 'chat/js/index.js' %}"></script>
{% endblock %}
