{% extends 'chat/base.html' %}

{% block title%} Home {% endblock %}
    

{% block content %}
    <div class="container">

        <div class='friend-list'>
            <div class="friends-area">
                
                <div class="friend">
                    <div class="image">
                        <div class="i">
                        
                        </div>
                    </div>

                    <div class="friend-info">
                        <div class="name"> Alexander </div>
                        <div class="status">online </div>
                    </div>
                </div>
        
            </div>
        
        </div>

        <div class="chat-area">
            <div class="chat">

                <div class="message-area">
                    
                    <div class="message left ">
                        <div class="orient">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, placeat.
                        </div>
                    </div>
                    <div class="message right ">
                        <div class="orient">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, placeat.
                    </div>
                </div>

            </div>

            <div class ="input-area">
                <input type="text"/>
                <button>Send</button>
            </div>
        </div>
    </div>

{% endblock  %}    
