{% extends 'chat/base.html' %}
{% load static %}
{% block title%} login {% endblock %} 

{% block extraStyle%}
  <link rel="stylesheet" href="{% static 'chat/css/account.css' %}">
{% endblock %}
{% block content%}

  <div class="content">
    <div class="form">
      <form action="" method="post">
        {% csrf_token %}
        <div class="sign_in">
          <h2>Sign in</h2>
        </div>

        <div class="inputArea">
          <h3 style="color:#AA0000"> {{ form_errors }} </h3> 
        
        </div>

        <div class="inputArea">
          <h3>Username</h3>
          {{ form.username }}
        </div>
        <div class="inputArea">
          <h3>Password</h3>
          {{ form.password }}
        </div>
        <div class="submitArea submit1">
          <input type="submit" value="Sign In" name="" id="" class="sub" />
        </div>
      </form>

      <div class="inputArea1">
        <p>
          Dont have an account? <a onclick="" href="{% url 'chat:register' %}">Sign up</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
